h1,
h2,
h3 {
  font-family: "Georgia", Times, Times New Roman, serif;
}

html {
  background-color: rgb(240, 240, 240);
  font-family: Arial, Helvetica, sans-serif;
  color: #b1b0b0;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 2;
}

#myName {
  color: black;
  font-weight: bold;
  float: left;
}

.block {
  max-width: 960px;
  margin: 0 auto;
  background: white;
  overflow: auto;
  border: solid lightgrey 1px;
}

h1 {
  color: rgb(73, 170, 165);
  padding-top: 30px;
  padding-bottom: 5px;
  padding-left: 40px;
}

#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  padding: 20px 0px 10px 40px;
  float: left;
}

p {
  padding: 10px 40px 0 40px;
}

.nameTag h1 {
  color: rgb(100, 100, 100);
}

#wrapper {
  background-color: rgba(102, 102, 102, 0.2);
  border-bottom: solid grey 1px;
  max-width: 100%;
  margin-bottom: 40px;
}

header {
  max-width: 960px;
  margin: 0 auto;
  height: 76px;
  padding: 0;
}

nav {
  float: right;
}

nav ul {
  list-style-type: none;
  margin-top: 20px;
  overflow: hidden;
}

nav li {
  color: gray;
  display: inline;
  margin-left: 15px;
  text-decoration: none;
}

header h1 {
  color: white;
  background-color: rgb(73, 170, 165);
  padding: 10px;
  margin-top: 20px;
  margin: 0 0 0;
  float: left;
  font-weight: normal;
}

nav a {
  color: #666666;
  text-decoration: none;
}

nav a:hover {
  color: rgb(73, 170, 165);
}

header::after {
  content: "";
  display: table;
  clear: both;
}

hr {
  max-width: 880px;
}

form {
  width: 880px;
  padding: 10px 20px 0 40px;
}

input {
  width: 880px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

textarea {
  border: solid rgb(227, 227, 227) 1px;
  width: 880px;
  margin-top: 10px;
  margin-bottom: 10px;
}

::placeholder {
  color: rgb(184, 181, 181);
}

button {
  background-color: rgb(73, 170, 165);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
}

button:hover {
  background-color: lightpink;
}

.category {
  position: relative;
  width: 300px;
  float: left;
  margin: 20px 0 20px 40px;
}

.category > img {
  display: block;
}

.category-text {
  background-color: rgba(73, 170, 165, 0.5);
  color: #fff;
  margin: -30% 0 auto 40px;
  position: relative;
  height: 40px;
  width: 300px;
  text-align: center;
}

.category-text:hover {
  background-color: lightsalmon;
}

h4 {
  padding-top: 8px;
}

.grid {
  width: 720px;
}

.grid img {
  width: 300px;
  height: 200px;
  margin: 20px 0 20px 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7%;
  background-color: #666666;
  color: white;
  text-align: center;
  border-top: solid rgb(73, 170, 165) 15px;
}

.pFooter {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7%;
  background-color: #666666;
  color: white;
  text-align: center;
  border-top: solid rgb(73, 170, 165) 15px;
  margin-top: 55px;
}

#copyRight {
  margin-top: 20px;
}
